@font-face {
    font-family: 'Neco';
    src: url('/fonts/Neco_Complete/Fonts/OTF/Neco-Black.otf') format('opentype');
}


/* Styles généraux (bureau et autres résolutions larges) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Burger menu, caché par défaut sur desktop */
.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}


/* Menu normal sur bureau (mode desktop) */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}


nav li {
    position: relative;
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    padding: 5px 10px;
}


/* Animation hover */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4a90e2;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}


nav a:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}


/* Menu expansion (mobile only) */
#menu.expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Prend toute la hauteur de l'écran */
    background-color: white; /* Arrière-plan du menu */
    z-index: 10;
}


/* Style des éléments du menu dans le mode "expanded" */
#menu.expanded li {
    font-size: 3rem; /* Agrandir la taille de la police */
    height: 20%; /* Chaque élément prend 20% de la hauteur de l'écran */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* S'assurer que les éléments prennent toute la largeur */
    text-align: center;
}


#menu.expanded a {
    display: block;
    padding: 20px; /* Un peu d'espace autour du texte */
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.image_taille {
    max-width: 80px;
    max-height: 500px;
    margin: 10px;
}

.image_taille {
    max-width: 80px;
    max-height: 500px;
    margin: 10px;
}


/* Arrière-plan (overlay) */
.overlay {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Fond semi-transparent */
    z-index: 5;
}
/* Affichage du burger uniquement sur mobile (par défaut caché sur desktop) */
@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }


    /* Affichage du menu burger */
    nav ul {
        display: none; /* Cache le menu par défaut */
    }


    .overlay {
        display: flex; /* Affiche l'overlay */
        max-height: 27px;
        max-width: 44px;
    }
}




.image_taille {
    max-width: 80px;
    max-height: 500px;
    margin: 10px;
}